# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/
*.moved-aside
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved

# Misc
*.swp
*.swo
*~

# Figma exports
figma1/

# Archives
*.tar.gz
*.zip
